*{padding:0;margin:0;}
html,body{
	height: 100%;
	overflow: hidden;
}
.container,.sections,.section{
	height: 100%;
}
.section{
	background-color: #000;
	-webkit-background-size: cover;
	background-size: cover;text-align: center;
	background-position: 50% 50%;
	color:white;
}
#section0{
	background-image: url(1.jpg);	
}
#section1{
	background-image: url(2.jpg);	
}
#section2{
	background-image: url(3.jpg);	
}
#section3{
	background-image: url(4.jpg);	
}