body{font-size: 14px;background-color: #f6f6f6; margin:0;padding:0;font-family: PingFangSC-Regular;color: #333333;}
.flex{display: flex;}
.flex-between{display: flex;justify-content: space-between;}
.flex-around{display: flex;justify-content: space-around;}
.flex-center{display: flex;justify-content: center;}
div{box-sizing: border-box;}

.title{position: relative;text-align: center;font-size: 16px;background-color: #fff;padding:10px;border-bottom: 1px solid #eee;z-index: 98;}
.left{position: absolute;left: 20px;top:10px;font-size: 18px;}
.right{position: absolute;right: 20px;top:15px;font-size: 18px;height: 18px;width:18px;}

.search-top{background-color: #fff;padding:10px 20px;position: fixed;top:0;z-index: 99;width: 100%;}
.search-top-input{background: #F2F2F2;border-radius: 30px;width: 80%;padding:5px 20px;}
.search-top-input input{border:none;background-color: #F2F2F2;}
.search-top-input input::-webkit-input-placeholder {color: #ccc;}
.search-top-input input:focus{outline:none;}
.search-top-input img{width: 14px;height: 14px;margin-right: 10px;}
.search-body{background-color: #fff;margin-top:18px;}
.search-body-top{border-bottom: 1px solid #F2F2F2;padding:10px;font-size: 16px;color: #333333;}
.search-body-list{padding:20px;}
.search-body-list-item{background: #F7F7F7;border-radius: 2px;padding:2px 5px;display: inline-block;margin-right: 5px;font-size: 14px;
color: #666666;}

#page{}
.tab{}
.tab-line{position:relative;z-index:3;background-color: #fff;padding:10px;border-bottom: 1px solid #eee;text-align: center;}
.tab-line-com-name{text-overflow:ellipsis;white-space:nowrap;overflow: hidden;}
.tab-line1-box{width:25%;color: #666666;position: relative;}
.tab-line1-box-checked:after{content:'';width: 30%;height: 3px;background-color: #4F5FCE;position: absolute;bottom: -8px;left: 35%;border-radius: 20px;}
.tab-img{flex-direction:column;margin-left: 5px;}
.tab-img img{width: 10px;height: 10px;}
.img-rotate{transform: rotate(180deg);}
.tab-bottom-box{width: 30%;}
.tab-bottom-last{width: 10%;}
.tab-bottom-last img{width: 20px;height: 20px;}

.page1-list-all{margin-top:10px;margin-bottom: 60px;}
.page1-list{padding:10px 0;background-color: #fff;margin-top:10px;}
.page1-list-top{padding-left: 10px;}
.page1-list-body{padding:10px 10px 0 10px;}
.list-body-left{width: 40%;}
.list-body-right{width: 60%;}
.list-font1{font-size: 16px;color: #333333;line-height: 36px;}
.list-font2{font-size: 12px;color: #888888;}
.list-font3{font-size: 26px;color: #F4333C;font-family: SFProText-Medium;}
.page1-list-left{font-size: 12px;color: #4F5FCE;border:1px solid #4F5FCE;border-radius: 1px;padding:0px 5px;line-height: 14px;margin-left: 10px;}
.page1-list-right-word{margin-right: 10px;}
.page1-list-right-bg{background-image: url(img/02market_tag_short@2x.png);color:#fff;background-repeat: no-repeat;background-size: 100% 100%;padding: 0px 4px 0px 15px;}
.list-body-box1{width: 50%;}
.list-body-box2{width: 50%;}

.page1-bottom{position: fixed;z-index: 2;bottom: 0;left: 0;background-color: #fff;box-shadow: 0px 0px 5px #ccc;width: 100%;}
.page1-bottom-box{font-size: 16px;color: #4F5FCE;padding: 10px 0;}
.page1-bottom-box img{height:30px;margin-right: 5px;}
.page1-bottom-box span{line-height: 32px;}

/*meng*/

.meng{position: relative;}
.meng-rgba{position: fixed;z-index: 2;top:0;left: 0;width: 100%;background-color: rgba(0,0,0,0.5);}
.meng-div{width: 100%;background-color: #fff;position:relative;z-index: 3;}
.meng-div-list{border-bottom: 1px solid #eee;padding:10px 10px 10px 0;}
.meng-div-list img{width: 14px;height: 14px;}
.meng2-list{color:#666;padding:0px 10px 20px 10px;}
.meng2-list-box{display: inline-block;background: #F7F7F7;border-radius: 2px;margin: 10px 10px 0 0;width: 70px;text-align: center;line-height: 30px;}
.colorChoose2{background: #EBEEF9;color: #4F5FCE;}
.tab2-bottom-box{width: 50%;font-size: 17px;text-align: center;line-height: 44px;}
.reset_buttom{background: #EBEEF9;color: #4F5FCE;}
.sure_buttom{background: #4F5FCE;color:#fff;}

/* page2 */
.page2-top{padding-left: 10px;}