<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
	<link rel="stylesheet" type="text/css" href="demo.css">
</head>
<body>
<div id="app" style="">	
	<div class="title">
		<div class="left"><</div>理财超市
		<img src="img/searchbar_icon_search_b@2x.png" class="right" @click="search">
	</div>
	<div class="searchAll" v-show="searchShow">
		<div class="flex-between search-top">
			<div class="search-top-input flex">
				<img src="img/searchbar_icon_search_b@2x.png">
				<input type="" name="" placeholder="请输入理财产品名称">
			</div>
			<div class="search-quxiao" @click="quxiaoSearch">取消</div>
		</div>
		<div class="search-body">
			<div class="search-body-top">热门搜索</div>
			<div class="search-body-list">
				<div v-for="item in 5" class="search-body-list-item">啦啦啦</div>
			</div>
		</div>
	</div>
	<!-- tab -->
<div id="page" v-show="!searchShow">
	<div class="tab">
		<div class="tab-line flex">
			<div v-for="(item,index) in tab1" class="tab-line1-box" :class="item.choose?'tab-line1-box-checked':''" @click='chooseTopTab(index)' > {{item.name}} </div>
		</div>
		<div class="tab-line flex">
			<div class="flex-center tab-bottom-box" @click='topTab1Click()'>
				<div class="tab-line-com-name">{{companyChoose}}</div>
				<div class="tab-img ">
					<img src="img/upCCC.png" :style="!mengShow?'transform:rotate(180deg)':''" >
				</div>
			</div>
			<div class="flex-center tab-bottom-box">
				<div>按预期收益</div>
				<div class="tab-img flex" @click="colorChange?colorChange=false:colorChange=true">
					<img :src="colorChange?'img/upCCC.png':'img/up.png'" >
					<img :src="!colorChange?'img/upCCC.png':'img/up.png'" class="img-rotate">
				</div>
			</div>
			<div class="flex-center tab-bottom-box" style="border-right: 1px solid #ccc;">
				<div>按投资期限</div>
				<div class="tab-img flex" @click="colorChange?colorChange=false:colorChange=true">
					<img :src="colorChange?'img/upCCC.png':'img/up.png'" >
					<img :src="!colorChange?'img/upCCC.png':'img/up.png'" class="img-rotate">
				</div>
			</div>
			<div class="flex-center tab-bottom-last">
				<img :src="mengShow2?'img/loudou2.png':'img/loudou.png'" class="" @click="topTab2Click()">
			</div>
		</div>
		<!-- 蒙版1 -->
	<div class="meng" v-show='mengShow'>
		<div class="meng-rgba" @click='mengShow=false'></div>
		<div class="meng-div" style="padding:0 0 0 10px;">
			<div v-for='(item,index) in company' class="flex-between meng-div-list" @click="chooseCompany(index)">
				<div :style="item.choose?'font-weight:bold;':''">{{item.name}}</div>
				<img src="img/radio_n@2x.png"  v-show='item.choose'>
			</div>
		</div>
	</div>

	<!-- 蒙版2 -->
	<div class="meng" v-show='mengShow2'>
		<div class="meng-rgba" @click='mengShow2=false'></div>
		<div class="meng-div" style="padding-top:20px;">
			<div v-for='item in shaixuan' class='meng2-list'>
				<div style="color: #999;">{{item.name}}</div>
				<div v-for="(item2,index) in item.tab" class="meng2-list-box" :class="item2.choose?'colorChoose2':''" @click="chooseListTab(item,index)">{{item2.name}}</div>
			</div>
			<div class="flex">
				<div class="tab2-bottom-box reset_buttom" @click="reset">重置</div>
				<div class="tab2-bottom-box sure_buttom" @click="sure">确定</div>
			</div>
		</div>
	</div>
</div>
	

	<!-- list -->
<div class="page1-list-all">
	<div class="page1-list" v-for="item in 10" @click="tiaozhuan"> 
		<div class="page1-list-top flex-between">
			<div class="flex">
				<div >智能活期理财</div>
				<div class="page1-list-left">外币示例</div>
			</div>
			<div class="page1-list-right-bg">定向预约</div>
		</div>
		<div class="page1-list-body flex">
			<div class="list-body-box1">
				<div class="list-font3">3.89<span style="font-size: 16px;">%</span></div>
				<div class="list-font2">预期年化收益率</div>
			</div>
			<div class="list-body-box2">
				<div class="list-font1">随时申赎</div>
				<div class="list-font2">10万起购 | 高风险</div>
			</div>
			
		</div>
	</div>
</div>
	<!-- 底部 -->
	<div class="page1-bottom flex">
		<div v-for="item in 3" style="width:33.33%;">
			<div class="flex-center page1-bottom-box">
				<img src="img/02market_icon_chexiao@2x.png">
				<span>我的</span>
			</div>
		</div>
	</div>
</div>
	
</div>
</body>
</html>
<script type="text/javascript" src='js/jquery.js'></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
	var app = new Vue({
  el: '#app',
  data: {
  	tab1:[{name:'全部',choose:true},{name:'活期',choose:false},{name:'定期+',choose:false},{name:'周期开放',choose:false},],
  	company:[{name:'宁波银行股份有限公司',choose:true},{name:'宁波银行南京新街口支行股份有限公司',choose:false},{name:'宁波银行上海支行股份有限公司',choose:false}],
  	mengShow:false,
  	companyChoose:'',
  	colorChange:true,
  	mengShow2:false,
  	searchShow:false,
  	shaixuan:[{name:'起购金额',tab:[{name:'不限',choose:true},{name:'1万',choose:false},{name:'1-10万',choose:false},{name:'10-3千万',choose:false},{name:'3千万+',choose:false}]},
  	{name:'产品期限',tab:[{name:'不限',choose:true},{name:'0-1个月',choose:false},{name:'10-3千万',choose:false},{name:'3千万+',choose:false}]},
  	{name:'风险等级',tab:[{name:'1万',choose:true},{name:'低风险',choose:false},{name:'中风险',choose:false},{name:'3千万+',choose:false}]},
  	{name:'收益类型',tab:[{name:'不限',choose:true},{name:'1-10万',choose:false},{name:'净值型',choose:false},{name:'3千万+',choose:false}]},
  	{name:'币种',tab:[{name:'不限',choose:true},{name:'人民币',choose:false},{name:'外币',choose:false}]},]
  },
  watch:{
  	mengShow(val){
  		if(val){
  			$('body').css('overflow','hidden');
  		}else{
  			$('body').css('overflow','scroll');
  		}
  	},
  	mengShow2(val){
  		if(val){
  			$('body').css('overflow','hidden');
  		}else{
  			$('body').css('overflow','scroll');
  		}
  	},

  },
  mounted(){
  	//给弹层设置高度
  	$('.meng-rgba').css('height',window.innerHeight+'px');
  	//公司名字初始化
  	this.companyChoose = this.company[0].name;
  },
  methods:{
  	topTab1Click(){	
  		this.mengShow?this.mengShow=false:this.mengShow=true;
  		this.mengShow2 = false;
  	},
  	topTab2Click(){	
  		this.mengShow2?this.mengShow2=false:this.mengShow2=true;
  		this.mengShow = false;
  	},
  	chooseTopTab(index){
  		for(var i in this.tab1){
  			this.tab1[i].choose = false;
  		}
  		this.tab1[index].choose = true;
  	},
  	tiaozhuan(){
  		//跳转到详情页面
  		window.location.href="demo2.html";    
  	},
  	chooseCompany(index){
  		for(var i in this.company){
  			this.company[i].choose = false;
  		}
  		this.company[index].choose = true;
  		// 赋值
  		this.companyChoose = this.company[index].name
  	},
  	/*选择很多条件*/
  	chooseListTab(item,index){
  		console.log(item,index)
  		for(var i in this.shaixuan){
  			if(this.shaixuan[i].name == item.name){
  				for(var j in this.shaixuan[i].tab){
  					this.shaixuan[i].tab[j].choose = false;
  				}
  				this.shaixuan[i].tab[index].choose = true;
  			}
  		}
  	},
  	/*重置*/
  	reset(){
  		for(var i in this.shaixuan){
  			for(var j in this.shaixuan[i].tab){
  				this.shaixuan[i].tab[j].choose =false; 
  			}
  			this.shaixuan[i].tab[0].choose = true;
  		}
  	
  	},
  	/*确定*/
  	sure(){
  		this.mengShow2 = false;
  	},
  	/*搜索*/
  	search(){
  		this.searchShow = true;
  	},
  	quxiaoSearch(){
		this.searchShow = false;
  	},

  	chooseCondition(index){
		
  	},
  	
  	dianji(){
  		this.mengShow = true
  		
  	},
  	close(){
  		this.mengShow = false
  		
  	}
  }
})
</script>
